/* CHANGE THIS TO CHANGE THE COLOR */
.gradient.personal {
    background: #348F50 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E5C300, #CD0000) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E5C300, #CD0000) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}